@media screen and  (max-width: 767px){
    nav ul{
        display: none;
    }

    .logo h1{
        font-size: 20px;
    }

    .container, nav, footer{
        width: 90%;
        overflow: hidden;
    }

    /*========================section one=======================*/

    .sec-one{
        height: auto;
        padding-bottom: 40px;
    }

    .sec-one .container{
        flex-direction: column;
        padding-top: 40px;
    }

    .section-info #p{
        margin: 20px 0px 0px;
    }

    .section-info{
        margin: 0px;
        width: 100%;
        align-items: center;
    }

    .section-info h1{
        font-size: 50px;
    }

    .infos{
        width: 80%;
        gap: 30px;
        margin: 30px auto;
    }

    .btns{
        padding: 10px 20px;
        margin-top: 0px;
        gap: 20px;
    }

    .section-image img{
        display: none;
    }

    /*========================section two=======================*/

    .sec-two .container{
        height: auto;
        padding-bottom: 130px;
    }

    .cards{
        width: 700%;
        margin: 0px;
    }

    .card{
        margin-right: 40px;
        height: 400px;
        width: 500px;
    }

    .card p{
        margin: -10px 0px 14px 0px;
    }

    .btn-icons{
        bottom: 10;
        left: 11%;
     }

     .sec-tree h2{
        font-size: 30px;
    }


    /*========================section tree=======================*/

    .sec-tree .info h2{
        font-size: 20px;
    }

    .sec-tree p{
        font-size: 16px;
        margin: 20px 0;
    }

    .sec-tree .info{
        width: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px 0px;
        text-align: center;
    }

    .sec-tree .info p{
        font-size: 12px;
        margin: 0;
    }

    .btn-tree-for{
        padding: 7px 14px;
        font-size: 12px;
        margin: 10px 0px;
    }

    /*========================section for=======================*/

    .sec-for h2{
        font-size: 30px;
    }

     .sec-for .info h2{
        font-size: 20px;
    }

    .sec-for p{
        font-size: 16px;
        margin: 20px 0;
    }

    .sec-for .info{
        width: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px 0px;
        text-align: center;
    }

    .sec-for .info p{
        font-size: 12px;
        margin: 0px  0;
    }

}